<header>
	<style>
		#con{
			position: relative;
			left: 100px;
		}

		input{
			display: block;
			border-radius: 5px;
		}
		#body{
			height: 100px;
			width: 150px;
		}
	</style>
</header>
<body>
	<div id="con">
		<form method="post" action="/email_response"><br>
		  <input type="text" name="from" placeholder="from"><br>
		  <input type="text" name="to" placeholder="to"><br>
		  <input type="text" name="subject" placeholder="subject"><br>
		  <input type="text" name="body" placeholder="body" id="body"><br>
		  <input type="submit">
		</form>
	</div>
</body>