<header>
	<style>
		#about{
			position: relative;
			left: 100px;
			width: 80%;
			text-align: justify;
		}

		#team{
			position: relative;
			left: 100px;
			width: 80%;
			text-align: justify;
		}
	</style>
</header>
<body>
	<div id="about">
		<h2>About</h2>
		<br>
		<p>Dream Code is an education company. But not one in the way you might think. We're committed to building the best learning experience inside and out, making Dream Code the best place for our team to learn, teach, and create the online learning experience of the future.</p><br>
		<p>Education is old. The current public school system in the US dates back to the 19th century and wasn't designed to scale the way it has. Lots of companies are working to "disrupt" education by changing the way things work in the classroom and by bringing the classroom online.</p><br>
		<p>We're not one of those companies. We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education. We take more cues from Facebook and Zynga in creating an engaging educational experience than we do from the classroom.</p><br>
		<p>Education is broken. Come help us build the education the world deserves.</p>
		<br>
	</div>
	<div id="team">
		<h2>Our Team</h2><br>
		<h3>Nuri Bayram </h3>
		<img src="Nuri.png" height="200px" width="200px">
		<p>Nuri is obsessed about the best ways of learning and teaching in all subjects that cross his path. He believes every environment should have self learning and teaching implemented in their culture. He helps companies and individuals with the same believes.</p><br>
		<h3>Davissen Morgan</h3>
		<img src="Davissen.JPG" height="200px" width="200px">
		<P>Davissen is currently learning web Development at the NYCDA. Before joining the tech sector, he was an Investment and Corporate Banker at the Barclays Africa Group</P>
	</div>
</body>