<!DOCTYPE html>
<html>
<head>
	<title>Welcome to dreamcode!</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}

		body{
			background-color: #848C8E;
		}
		header{
		}

		header img{
			width: 100%;
		}




		footer li {
			list-style: none;
			display: inline-block;
			margin: 0 5%;
		}

		.bdr{
			border-left: 1px solid black;
			padding-left: 30px;
		}

	</style>
</head>
<body>
	<header>
		<img src="Dream.jpg">
		<a href="#menu" id ="toggle"><span>Menu</span></a>

		<Span id="menu">
		<ul>	
			<li><a href="/">Home</a></li>
			<li><a href="/dream_code">Dream Code</a></li>
			<li><a href="/test">Test</a></li>
			<li><a href="/login">Results</a></li>
		</ul>
	</span>
	</header>
		<%= yield %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#toggle').click(function(){
				$('#menu').toggle()
			})
		})
	</script>
	<footer>
		<ul>
			<li class="bdr"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
			<li class="bdr"><a href="https://twitter.com" target="_blank"> Twitter</a></li>
			<li class="bdr"><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
			<li class="bdr"><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></li>
		</ul>
	</footer>
</body>
</html>