<header>
	<style>
	#cont{
		position: relative;
		left: 100px;
	}
	</style>
</header>
<body>
<div id="cont"
<h1>Rate your javascript</h1>
<form role="form" name="quizform" action="/login" method="post">
	<input type="hidden" name="starttime" value="6/24/2016 1:26:55 PM">
	<div class="radio">
		<label><input type="radio" name="quiz" id="1" value="1">1</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quiz" id="2" value="2">2</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quiz" id="3" value="3">3</label>
	</div>
		<div class="radio">
		<label><input type="radio" name="quiz" id="4" value="4">4</label>
	</div>
		<div class="radio">
		<label><input type="radio" name="quiz" id="5" value="5">5</label>
	</div>
		<div class="radio">
		<label><input type="radio" name="quiz" id="6" value="6">6</label>
	</div>
		<div class="radio">
		<label><input type="radio" name="quiz" id="7" value="7">7</label>
	</div>
		<div class="radio">
		<label><input type="radio" name="quiz" id="8" value="8">8</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quiz" id="9" value="9">9</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quiz" id="10" value="10">10</label>
	</div>
	<br>
	<input type="submit" class="w3-btn w3-orange w3-large w3-text-white" value="Save">	
</form>
</div>
</body>