<header>
	<style>
	#conten{
		position: relative;
		left: 100px;
	}
	</style>
</header>
<body>
<div id="conten">
<h1>Rate your HTML</h1>
	<form role="form" name="quizform" action="/login" method="post">
	<input type="hidden" name="starttime" value="6/24/2016 1:26:55 PM">
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html1" value="1"> 1</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html2" value="2"> 2</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="3"> 3</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="4"> 4</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="5"> 5</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="6"> 6</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="7"> 7</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="8"> 8</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="9"> 9</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizHtml" id="html" value="10"> 10</label>
	</div>
	<br>
	<h1>Rate your CSS</h1>
		<div class="radio">
		<label><input type="radio" name="quizCSS" id="css1" value="1"> 1</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css2" value="2"> 2</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css3" value="3"> 3</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css4" value="4"> 4</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css5" value="5"> 5</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css6" value="6"> 6</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css7" value="7"> 7</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css8" value="8"> 8</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css9" value="9"> 9</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizCSS" id="css10" value="10"> 10</label>
	</div>
	<br>
	<h1>Rate your JavaScript</h1>
		<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript1" value="1"> 1</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript2" value="2"> 2</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript3" value="3"> 3</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript4" value="4"> 4</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript5" value="5"> 5</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript6" value="6"> 6</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript7" value="7"> 7</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript8" value="8"> 8</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript9" value="9"> 9</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="quizJavaScript" id="JavaScript10" value="10"> 10</label>
	</div>
	<br>
	<input type="submit" class="w3-btn w3-orange w3-large w3-text-white" value="Save">	
</form>
</div>

</div>
</body>